# Python
__pycache__/
*.pyc
.venv/

# Env files (CRITICAL)
.env
.env.*
backend/.env
frontend/.env.local
documents/

# Logs & data
*.log
data/
2026-01-26 23-29-44 (2).mp4

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

frontend/.env.local